.item {
  display: inline-block;
  padding: 4px 12px;
  border-radius: 50px;
  border: 1px solid var(--color-white);
  font-size: calc(var(--index) * 0.6);
  opacity: 0.6;
  text-transform: uppercase;
}
