.wrapper {
  .skills_wrapper {
    margin-top: calc(var(--index) * 2);
    margin-bottom: calc(var(--index) * 2);

    &:first-child {
      margin-top: 0;
    }

    .title {
      font-size: calc(var(--index) * 1.3);
      line-height: 1em;
      margin-bottom: calc(var(--index) * 0.8);
    }
    .skills {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 12px;
    //   max-width: 600px;
    }
  }
}
